.visibleBoard {
  width: 90vmin;
  height: 90vmin;
  position: relative;
  outline: 2px solid red;
  overflow: hidden;
}

.board {
  width: 90vmin;
  height: 180vmin;
  display: flex;
  flex-direction: column;
  position: absolute;
  bottom: 0;
}

.row {
  flex-grow: 1;
  display: flex;
  flex-direction: row;
}

.row[data-hidden="true"] {
  opacity: 0.25;
}

.cell {
  flex-grow: 1;
  padding: 1px;
  transition: transform 0.5s, opacity 0.5s;
  /* transition-timing-function: linear; */
}

.cell button {
  width: 100%;
  height: 100%;
  border: 0;
  cursor: pointer;
}

.gem {
  border-radius: 2vmin;
  background-image: radial-gradient(
      circle at 32% 86%,
      rgba(162, 162, 162, 0.05) 0%,
      rgba(162, 162, 162, 0.05) 50%,
      rgba(95, 95, 95, 0.05) 50%,
      rgba(95, 95, 95, 0.05) 100%
    ),
    radial-gradient(
      circle at 62% 1%,
      rgba(99, 99, 99, 0.05) 0%,
      rgba(99, 99, 99, 0.05) 50%,
      rgba(70, 70, 70, 0.05) 50%,
      rgba(70, 70, 70, 0.05) 100%
    ),
    radial-gradient(
      circle at 16% 3%,
      rgba(80, 80, 80, 0.05) 0%,
      rgba(80, 80, 80, 0.05) 50%,
      rgba(228, 228, 228, 0.05) 50%,
      rgba(228, 228, 228, 0.05) 100%
    ),
    linear-gradient(90deg, rgba(230, 230, 230, 0.15), rgba(230, 230, 230, 0.15));
}

.cell.taken {
  opacity: 0;
  transform: scale(2);
  transition-timing-function: ease-out;
  transition-duration: 0.5s;
}

.cell.move-down-1:not(.taken) {
  transition-duration: 0.1s;
  transform: translateY(100%);
}

.cell.move-down-2:not(.taken) {
  transition-duration: 0.2s;
  transform: translateY(200%);
}

.cell.move-down-3:not(.taken) {
  transition-duration: 0.3s;
  transform: translateY(300%);
}

.cell.move-down-4:not(.taken) {
  transition-duration: 0.4s;
  transform: translateY(400%);
}

.cell.move-down-5:not(.taken) {
  transition-duration: 0.5s;
  transform: translateY(500%);
}

.cell.move-down-6:not(.taken) {
  transition-duration: 0.6s;
  transform: translateY(600%);
}

.cell.move-down-7:not(.taken) {
  transition-duration: 0.7s;
  transform: translateY(700%);
}

.cell.move-down-8:not(.taken) {
  transition-duration: 0.8s;
  transform: translateY(800%);
}

.cell.move-down-9:not(.taken) {
  transition-duration: 0.9s;
  transform: translateY(900%);
}

.gem-1 {
  background-color: #e84934;
}

.gem-2 {
  background-color: #1196ae;
}

.gem-3 {
  background-color: #f6edc3;
}

.gem-4 {
  background-color: #f8ac27;
}
